.data-quiz-body {
    background-image: url("../HomePageImages/dataBackground1.png");
    height: 100vh;
    background-size: 100% 100%;
}

.react-quiz-container {
    margin: 0px;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    background-color: rgba(255,255,255,0.75);
    padding: 15px;
    border-radius: 4px;
}

button.startQuizBtn.btn {
    margin-bottom: 15px;
}

button.incorrect.answerBtn.btn {
    background-color: #8c0a22;
    outline: none !important;
}

.react-quiz-container .questionWrapper .btn.correct {
    background-color: #505518;
}

button.nextQuestionBtn.btn {
    width: 100%;
}