.leaderboard-container {
    min-height: 60vh;
    margin-bottom: 2.5rem;
}

.leader-nav.nav-item {
    padding: 0px;
    border: 1px solid #dee2e6;
    background-color: white;
}

a.nav-link{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #8C0B23;
}

a:hover, a:focus, a:active {
    color: white;
    background-color: #8C0B23;
    text-decoration: none;
}